

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin min-screen($bp){
	@media only screen and (min-width: $bp) {
	@content
	}
}

@mixin max-screen($bp){
  @media only screen and (max-width: $bp) {
  @content
  }
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
}


@mixin retina-display(){
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    @content
  }
}