@charset "UTF-8";

/*@font-face {
  font-family: "cakeybakeyco";
  src:url("/fonts/cakeybakeyco.eot");
  src:url("/fonts/cakeybakeyco.eot?#iefix") format("embedded-opentype"),
    url("/fonts/cakeybakeyco.woff") format("woff"),
    url("/fonts/cakeybakeyco.ttf") format("truetype"),
    url("/fonts/cakeybakeyco.svg#cakeybakeyco") format("svg");
  font-weight: normal;
  font-style: normal;
}*/ 

[data-icon]:before {
  font-family: "cakeybakeyco" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-iconafter]:after {
  font-family: "cakeybakeyco" !important;
  content: attr(data-iconafter);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "cakeybakeyco" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:after {
  content: "a";
}
.icon-dropdown:after {
  content: "b";
}
.icon-basket-2:after {
  content: "c";
}
.icon-dropdown-2:after {
  content: "k";
}
.icon-close:after {
  content: "l";
}
.icon-basket:after {
  content: "d";
}

.icon-dropdown-3:after {
  content: "e";
}
.icon-menu-2:after {
  content: "f";
}
.icon-plus:after {
  content: "g";
}

.icon-basket-3:after {
  content: "h";
}
.icon-basket-3-empty:after {
  content: "i";
}
.icon-close-circle:after {
  content: "m";
}
.icon-left-arrow:after {
  content: "j";
}
.icon-right-arrow:after {
  content: "n";
}
.icon-success:after {
  content: "o";
}
.icon-success-circle:after {
  content: "p";
}
.icon-alert:after {
  content: "q";
}
.icon-minus-circle:after {
  content: "r";
}
.icon-fb:after {
  content: "s";
}
.icon-gplus:after {
  content: "t";
}
.icon-pin:after {
  content: "u";
}
.icon-twt:after {
  content: "v";
}
.icon-plus-circle:after {
  content: "w";
}
.icon-right-arrow-small:after {
  content: "y";
}

.icon-ionicons:before {
  content: "x";
}
.icon-arrow-line-left:before {
  content: "z";
}

.icon-info:before {
  content: "A";
}
.icon-minus:before {
  content: "B";
}

.icon-heart:after {
  content: "C";
}

[data-icon|=f]:before {
  display: none;
  @include min-screen(35em){
    font-size: 1.4em;
    display: table-cell;
    vertical-align: middle;
  }
  @include retina-display(){
    padding-top: 0.223em;
  }
}

[data-icon|=m]:before {
  position: relative;
  top: .15em;
  padding-right: .15em;
  color: $pink;
}

[data-iconafter|=g]:after, [data-iconafter|=B]:after {
  position: absolute;
  right: 0;
  padding-top: .15em;
}



